%%% -*- mode:erlang -*-
{erl_opts, [{parse_transform, lager_transform}]}.


{deps, [
       {lager, "", {git, "git://github.com/basho/lager.git", "master"}}
       ,{cowboy, "0.10.0", {git, "git://github.com/extend/cowboy.git", {tag, "0.10.0"}}}
       ,{jsxn, "0.2.1", {git, "git://github.com/talentdeficit/jsxn.git", {tag, "v0.2.1"}}}
       ,{erlcloud, "", {git, "git@github.com:gleber/erlcloud.git", "master"}}
       ,{orchestrate_client, "", {git, "git@github.com:tsloughter/orchestrate-erlang-client.git", "master"}}
       ,{erldocker, "", {git, "git@github.com:tsloughter/erldocker.git", "master"}}
       ]}.
