%%% -*- mode:erlang -*-
{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
       {lager, "", {git, "git://github.com/basho/lager.git", "master"}}
       ,{rebar, "", {git, "git://github.com/tsloughter/rebar.git", {branch, "rebar3"}}}
       ,{erlcloud, "", {git, "git@github.com:gleber/erlcloud.git", "master"}}
       ,{orchestrate_client, "", {git, "git@github.com:tsloughter/orchestrate-erlang-client.git", "master"}}
       ,{erldocker, "", {git, "git@github.com:tsloughter/erldocker.git", "master"}}
       ]}.
