%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
{release, {rp_core, "0.0.1"},
 [rp_core]}.

{release, {rp_web, "0.0.1"},
 [rp_core
 ,rp_web]}.

{sys_config, "./config/sys.config"}.
{vm_args, "./config/vm.args"}.

{dev_mode, true}.
{include_erts, false}.
{extended_start_script, true}.

{overlay, [{copy, "Procfile", "Procfile"}]}.
