%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
{release, {rebar_publish, "0.0.1"},
 [rp_core
 ,rp_web
 ,erldocker]}.

{release, {rp_web, "0.0.1"},
 [rp_core
 ,rp_web]}.

{sys_config, "./config/sys.config"}.
{vm_args, "./config/vm.args"}.

{dev_mode, true}.
{include_erts, true}.
{extended_start_script, true}.
