%%% -*- mode:erlang -*-
[
{erldocker, [
            {unixbridge_port, 32133}
            ,{docker_http, <<"http://localhost:32133">>}
            ]},

{lager,
 [{handlers,
   [{lager_console_backend, [info, {lager_default_formatter,
                                    [date, " ", time, " ", color, "[", severity, "] ",
                                     {module, ["mod=", module, " "], " "},
                                     {function, ["fun=", function], " "},
                                     " ", message, "\n"]}]}]
  }
 ]
},

{rebar_publish, [{s3_bucket, <<"rebar_packages">>}
                ,{s3_access_id, ""}
                ,{s3_secret_key, ""}

                ,{orchestrate_api_key, <<"">>}
                ,{orchestrate_collection, <<"packages">>}

                ,{images, [{<<"tsloughter">>, <<"erlang">>, <<"17.1">>}]}]
}
].
