%%% -*- mode:erlang -*-
[
{lager,
 [{handlers,
   [{lager_console_backend, [info, {lager_default_formatter,
                                    [date, " ", time, " ", color, "[", severity, "] ",
                                     {module, ["mod=", module, " "], " "},
                                     {function, ["fun=", function], " "},
                                     " ", message, "\n"]}]}]
  }
 ]
},

{rebar_publish, []}
].
