%%% -*- mode:erlang -*-
{erl_opts, [{parse_transform, lager_transform}]}.

{sub_dirs, ["apps/rp_web"
            ,"apps/rp_core"]}.
{lib_dirs, ["apps"]}.

{deps, [
       {lager, "", {git, "git://github.com/basho/lager.git", "master"}}
       ,{cowboy, "0.10.0", {git, "git://github.com/extend/cowboy.git", {tag, "0.10.0"}}}
       ,{jsxn, "0.2.1", {git, "git://github.com/talentdeficit/jsxn.git", {tag, "v0.2.1"}}}
       ,{erlware_commons, "", {git, "git://github.com/erlware/erlware_commons", {branch, "master"}}}
       ,{rebar_vsn_plugin, "", {git, "git://github.com/erlware/rebar_vsn_plugin", {branch, "master"}}}
       ]}.
